<h1><%= "#{@customer.first_name} #{@customer.last_name}" %></h1>
<dl>
  <dt>Address</dt>
    <dd><%= @customer.address %></dd>
    <dd><%= "#{@customer.city}, #{@customer.state} #{@customer.postal}" %></dd>
  <dt>Phone</dt>
    <dd><a href="tel:<%= @customer.phone %>"><%= @customer.phone %></a></dd>
    <dd><a href="tel:<%= @customer.phone2 %>"><%= @customer.phone2 %></a></dd>
  <dt>Email</dt>
    <dd><a href="mailto:<%= @customer.email %>"><%= @customer.email %></a></dd>
    <dd><a href="mailto:<%= @customer.email2 %>"><%= @customer.email2 %></a></dd>
</dl>
<h2>Work Order History</h2>
<% if !@customer.invoices.empty? -%>
<table class="index_table">
    <thead>
      <tr><th>Service Date</th><th>Total Price</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <% @customer.invoices.each do |invoice| -%>
        <tr><td><%= invoice.service_date.strftime("%m/%d/%Y") %></td><td><%= number_to_currency(invoice.total / 100.0) %></td><td></td></tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
