<section role="banner">
  <div class="container">
    <h1>Your Carpet Cleaning business on the go.</h1>

    <%= form_for(@lead) do |f| %>
      <% if @lead.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this email from being saved:</h2>

          <ul>
            <% @lead.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label "Enter your email for more info..." %><br />
        <%= f.text_field :email %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up", :class => 'blue' %>
      </div>
    <% end %>
  </div>
</section>

<section role="cta">
  <div class="container">
    <%= image_tag "arrow_small.png", :class => 'arrow' %>

    <div id="get_some">
      <h3>Fast, Easy <em>&</em> Secure</h3>
      <p>"Thanks to Cleaners Dashboard my carpet cleaning business runs more efficiently." - Aaron K</p>
    </div>

    <!--
    <div id="demos">
      <a href="#" class="blue">View Demo</a><br />
      <a href="/pricing" class="blue">View Pricing</a>
    </div>
    -->

    <%= image_tag("iphone2.png") %>
  </div>
</section>

<section role="main">
  <div class="container">
    <h1>Business on <span>your</span> terms...</h1>

    <div class="bait">
      <div class="pricing">
        <h2>Bronze</h2>

        <ul>
          <li>Access customer, job, schedule information on mobile devices</li>
          <li class="yes">Track job history</li>
          <li class="yes">Track daily schedule</li>
          <li class="no">Collect payment, send invoice</li>
          <li class="no">Integrate with QuickBooks</li>
        </ul>

        <div class="not_a_link" href="/pricing">View Plan</div>
      </div>

      <div class="pricing">
        <h2>Silver</h2>

        <ul>
          <li>Access customer, job, schedule information on mobile devices</li>
          <li class="yes">Track job history</li>
          <li class="yes">Track daily schedule</li>
          <li class="yes">Collect payment, send invoice</li>
          <li class="no">Integrate with QuickBooks</li>
        </ul>

        <div class="not_a_link" href="/pricing">View Plan</div>
      </div>

      <div class="pricing last">
        <h2>Gold</h2>

        <ul>
          <li>Access customer, job, schedule information on mobile devices</li>
          <li class="yes">Track job history</li>
          <li class="yes">Track daily schedule</li>
          <li class="yes">Collect payment, send invoice</li>
          <li class="yes">Integrate with QuickBooks</li>
        </ul>

        <div class="not_a_link" href="/pricing">View Plan</div>
      </div>
    </div>
  </div>
</section>
