<!DOCTYPE html>
<html>
  <head>
    <title>Cleaners Dashboard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <div id="logo">Cleaners' <strong>Dashboard</strong></div>
        <%= render :partial => 'partials/nav' %>
      </div>
    </header>

    <section role="banner">
      <div class="container">
        <h1>Your Carpet Cleaning business on the go.</h1>

        <%= form_for(@lead) do |f| %>
          <% if @lead.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this email from being saved:</h2>

              <ul>
                <% @lead.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label "Enter your email for more info..." %><br />
            <%= f.text_field :email %>
          </div>

          <div class="actions">
            <%= f.submit "Sign Up", :class => 'blue' %>
          </div>
        <% end %>
      </div>
    </section>

    <section role="cta">
      <div class="container">
        <div id="get_some">
          <h3>Fast<br />Easy<br /><em>&</em> Secure</h3>
        </div>

        <div id="demos">
          <a href="#" class="blue">View Demo</a><br />
          <a href="#" class="blue">View Pricing</a>
        </div>

        <%= image_tag("iphone.png") %>
      </div>
    </section>

    <section role="main">
      <div class="container">
        <h1>Business on <span>your</span> terms...</h1>

        <div class="pricing">
          <h2>Bronze</h2>

          <ul>
            <li>Feature 1</li>
            <li class="no">Feature 2</li>
            <li class="no">Feature 3</li>
            <li class="no">Feature 4</li>
            <li class="no">Feature 5</li>
          </ul>

          <a class="blue">View Plan</a>
        </div>

        <div class="pricing">
          <h2>Silver</h2>

          <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li class="no">Feature 4</li>
            <li class="no">Feature 5</li>
          </ul>

          <a class="blue">View Plan</a>
        </div>

        <div class="pricing last">
          <h2>Gold</h2>

          <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
            <li>Feature 5</li>
          </ul>

          <a class="blue">View Plan</a>
        </div>

        <div class="content"><%= yield %></div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2012 Cleaners Dashboard.  All rights reserved.</p>
      </div>
    </footer>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36407573-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
